@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');

* {
    font-family:'DM Sans', sans-serif;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 98vh;
}
.login, .intro{
    height: 90%;
    width: 35vw;
}


.login{
    display: flex;

    border: black solid 2px;;
    background-color: #FFFFFF;
}


.intro{
    display: flex;
    flex-direction: column;

    align-items: center;

    border: black solid 2px;;
    background-color: #F14336;
}


.intro__logo{
    
    width: 100%;
    height: 30%;
}
.logo__button{
    font-size: 16px;
    color: #F14336;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 90px;

    transform:translate(52px, 52px);

    width: 125px;
    height: 55px;

    background-color: #FFFFFF;
}

.intro__texto{

    display: flex;
    align-items: center;
    justify-content: center;

    width: 50%;
    
    flex-direction: column;
    
    color: #FFFFFF
}

