*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    display: flex;
}
.conteudo{
    font-size: x-large;
    width: 75%;
}
h1{
    text-align: center;
}

.timeline ul{
    position: fixed;
    list-style: none;
}
a{
    text-decoration: none;
}
@media only screen and (max-width: 768px) {
    body {
      flex-direction: column-reverse;
    }
    .conteudo {
        width: 100%;
    }
    .timeline ul{
        display: flex;
        width: 100%;
        align-content: right;
        position: fixed;
        background-color: black;
    }
    .timeline li{
        display: inline;
    }
  }